<a href="https://colab.research.google.com/github/cfernando89/Bootcamp_Data_Science/blob/main/Alura_BootCamp_Modulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Módulo 2

## Aula 1

In [ ]:
import pandas as pd

In [ ]:
file_path = 'https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A160324189_28_143_208.csv'
dados_raw = pd.read_csv(file_path, encoding='latin1', sep=';',skiprows=3, skipfooter=12, thousands='.',  decimal=',')
dados_raw.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

  Unidade da Federação 1992/Mar 1992/Abr  ...    2020/Jul     2020/Ago         Total
0          11 Rondônia        -        -  ...  7407388.24   3556381.57  929129659.72
1              12 Acre        -        -  ...  1163813.08            -  420668039.63
2          13 Amazonas        -        -  ... 13358514.02   4726485.73 1771654871.23
3           14 Roraima        -        -  ...  2739498.41   1524478.04  305010883.18
4              15 Pará        -        -  ... 27618727.51  11559714.54 4437115730.71

[5 rows x 280 columns]

In [ ]:
file_populacao = 'https://github.com/alura-cursos/agendamento-hospitalar/blob/main/dados/estimativa_dou_2020.xls?raw=true'
populacao_ibge_estimativa = pd.read_excel(file_populacao)
populacao_ibge_estimativa.head()

  ESTIMATIVAS DA POPULAÇÃO RESIDENTE NO BRASIL E UNIDADES DA FEDERAÇÃO COM DATA DE REFERÊNCIA EM 1º DE JULHO DE 2020  ...          Unnamed: 2
0                     BRASIL E UNIDADES DA FEDERAÇÃO                                                                  ...  POPULAÇÃO ESTIMADA
1                                             Brasil                                                                  ...           211755692
2                                       Região Norte                                                                  ...            18672591
3                                           Rondônia                                                                  ...             1796460
4                                               Acre                                                                  ...              894470

[5 rows x 3 columns]

In [ ]:
dados_populacao = """Posição	Unidade federativa	População	% da pop. total	País comparável
1	 São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	 Minas Gerais	21 292 666	10,1%	 Sri Lanka (20 675 000)
3	 Rio de Janeiro	17 366 189	8,2%	 Países Baixos (16 922 900)
4	Bahia Bahia	14 930 634	7,1%	 Chade (14 037 000)
5	 Paraná	11 516 840	5,4%	 Bolívia (11 410 651)
6	 Rio Grande do Sul	11 422 973	5,4%	 Bélgica (11 250 659)
7	 Pernambuco	9 616 621	4,5%	 Bielorrússia (9 485 300)
8	 Ceará	9 187 103	4,3%	 Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	 Áustria (8 602 112)
10	 Santa Catarina	7 252 502	3,4%	 Sérvia (7 114 393)
11	 Maranhão	7 114 598	3,4%	 Paraguai (7 003 406)
12	 Goiás	7 113 540	3,4%	 Paraguai (7 003 406)
13	 Amazonas	4 207 714	2,0%	 Líbano (4 168 000)
14	 Espírito Santo	4 064 052	1,9%	 Líbano (4 168 000)
15	 Paraíba	4 039 277	1,9%	 Líbano (4 168 000)
16	 Rio Grande do Norte	3 534 165	1,7%	 Uruguai (3 415 866)
17	 Mato Grosso	3 526 220	1,7%	 Uruguai (3 415 866)
18	 Alagoas	3 351 543	1,6%	 Uruguai (3 415 866)
19	 Piauí	3 281 480	1,6%	 Kuwait (3 268 431)
20	 Distrito Federal	3 055 149	1,4%	 Lituânia (2 900 787)
21	 Mato Grosso do Sul	2 809 394	1,3%	 Jamaica (2 717 991)
22	 Sergipe	2 318 822	1,1%	 Namíbia (2 280 700)
23	 Rondônia	1 796 460	0,8%	 Gabão (1 725 000)
24	 Tocantins	1 590 248	0,7%	 Bahrein (1 359 800)
25	 Acre	894 470	0,4%	 Fiji (859 178)
26	 Amapá	861 773	0,4%	 Fiji (859 178)
27	 Roraima	631 181	0,3%	 Luxemburgo (562 958)"""

#Fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o

In [ ]:
from io import StringIO

dados_populacao_io = StringIO(dados_populacao)

populacao = pd.read_csv(dados_populacao_io, sep='\t')
populacao.head()

   Posição  ...                         País comparável
0        1  ...  Flag of Spain.svg Espanha (46 439 864)
1        2  ...                  Sri Lanka (20 675 000)
2        3  ...              Países Baixos (16 922 900)
3        4  ...                      Chade (14 037 000)
4        5  ...                    Bolívia (11 410 651)

[5 rows x 5 columns]

### Desafio 1.1: ler os dados direto do wikipedia

In [ ]:
table_wiki = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o')

#Quantidade de tabelas encontradas
print(len(table_wiki))

5

In [ ]:
#Como não temos um tílulo na tabela e a quantidade de tabelas na página é pequena, 
  #é possível selecionar a correta manualmente
populacao = table_wiki[0]
populacao.head()

   posicao              UF  populacao  %_pop_total País comparável (habitantes)
0        1       São Paulo   46289333        21.90         Espanha (46 439 864)
1        2    Minas Gerais   21292666        10.10       Sri Lanka (20 675 000)
2        3  Rio de Janeiro   17366189         8.20   Países Baixos (16 922 900)
3        4           Bahia   14930634         7.10           Chade (14 037 000)
4        5          Paraná   11516840         5.40         Bolívia (11 410 651)

###-----

In [ ]:
#transformar colunas para um modulo padronizado
populacao.columns

Index(['Posição', 'Unidade federativa', 'População', '% da pop. total',
       'País comparável'],
      dtype='object')

In [ ]:
novas_colunas = {'Posição':'posicao', 'Unidade federativa':'UF', 'População':'populacao', '% da pop. total':'%_pop_total',
       'País comparável':'pais_comparavel'}
populacao.rename(columns=novas_colunas, inplace=True)
populacao.head()

   posicao               UF  ... %_pop_total                         pais_comparavel
0        1        São Paulo  ...       21,9%  Flag of Spain.svg Espanha (46 439 864)
1        2     Minas Gerais  ...       10,1%                  Sri Lanka (20 675 000)
2        3   Rio de Janeiro  ...        8,2%              Países Baixos (16 922 900)
3        4      Bahia Bahia  ...        7,1%                      Chade (14 037 000)
4        5           Paraná  ...        5,4%                    Bolívia (11 410 651)

[5 rows x 5 columns]

In [ ]:
populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          27 non-null     int64
 1   UF               27 non-null     object
 2   populacao        27 non-null     object
 3   %_pop_total      27 non-null     object
 4   pais_comparavel  27 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.2+ KB

In [ ]:
#alterando os tipos de cada coluna
populacao['populacao'] = populacao['populacao'].str.replace(" ","").astype('int')

In [ ]:
populacao['%_pop_total'] = populacao['%_pop_total'].str.replace("%","").str.replace(",",".").astype('float')
populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posicao          27 non-null     int64
 1   UF               27 non-null     object
 2   populacao        27 non-null     int64
 3   %_pop_total      27 non-null     float64
 4   pais_comparavel  27 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ KB

In [ ]:
populacao = populacao[['UF','populacao','%_pop_total']]
populacao.head()

                UF  populacao  %_pop_total
0        São Paulo   46289333        21.90
1     Minas Gerais   21292666        10.10
2   Rio de Janeiro   17366189         8.20
3      Bahia Bahia   14930634         7.10
4           Paraná   11516840         5.40

In [ ]:
populacao = populacao.set_index('UF')

In [ ]:
display(populacao.head())
display(gastos_mes_mais_recente.head())

                populacao  %_pop_total
UF
São Paulo        46289333        21.90
Minas Gerais     21292666        10.10
Rio de Janeiro   17366189         8.20
Bahia Bahia      14930634         7.10
Paraná           11516840         5.40

Unidade da Federação
35 São Paulo           282.71
31 Minas Gerais        120.47
41 Paraná               80.32
43 Rio Grande do Sul    78.93
33 Rio de Janeiro       71.54
Name: 2020/Jul, dtype: float64

In [ ]:
gastos_mes_mais_recente.index = gastos_mes_mais_recente.index.str[3:]
gastos_mes_mais_recente.head()

Unidade da Federação
São Paulo           282.71
Minas Gerais        120.47
Paraná               80.32
Rio Grande do Sul    78.93
Rio de Janeiro       71.54
Name: 2020/Jul, dtype: float64

In [ ]:
#Retirar espaços antes e depois do índice, caso tenha
populacao.index = populacao.index.str.strip()

In [ ]:
#Limpar casos com nome do estado duplicados

for estado in gastos_mes_mais_recente.index:
  #print(f"{estado} {estado} => {estado}")
  populacao.index = populacao.index.str.replace(f'{estado} {estado}', estado)
populacao.index

Index(['São Paulo', 'Minas Gerais', 'Rio de Janeiro', 'Bahia', 'Paraná',
       'Rio Grande do Sul', 'Pernambuco', 'Ceará', 'Pará', 'Santa Catarina',
       'Maranhão', 'Goiás', 'Amazonas', 'Espírito Santo', 'Paraíba',
       'Rio Grande do Norte', 'Mato Grosso', 'Alagoas', 'Piauí',
       'Distrito Federal', 'Mato Grosso do Sul', 'Sergipe', 'Rondônia',
       'Tocantins', 'Acre', 'Amapá', 'Roraima'],
      dtype='object', name='UF')

In [ ]:
gastos_e_populacao_recente = populacao.join(gastos_mes_mais_recente)
gastos_e_populacao_recente

                     populacao  %_pop_total  2020/Jul
UF
São Paulo             46289333        21.90    282.71
Minas Gerais          21292666        10.10    120.47
Rio de Janeiro        17366189         8.20     71.54
Bahia                 14930634         7.10     58.90
Paraná                11516840         5.40     80.32
Rio Grande do Sul     11422973         5.40     78.93
Pernambuco             9616621         4.50     62.33
Ceará                  9187103         4.30     30.81
Pará                   8690745         4.10     27.62
Santa Catarina         7252502         3.40     51.76
Maranhão               7114598         3.40     24.37
Goiás                  7113540         3.40     33.50
Amazonas               4207714         2.00     13.36
Espírito Santo         4064052         1.90     27.46
Paraíba                4039277         1.90     15.49
Rio Grande do Norte    3534165         1.70     19.59
Mato Grosso            3526220         1.70     13.08
Alagoas                3351543         1.60     13.09
Piauí                  3281480         1.60     18.02
Distrito Federal       3055149         1.40     22.23
Mato Grosso do Sul     2809394         1.30     12.51
Sergipe                2318822         1.10      3.31
Rondônia               1796460         0.80      7.41
Tocantins              1590248         0.70      4.49
Acre                    894470         0.40      1.16
Amapá                   861773         0.40      2.16
Roraima                 631181         0.30      2.74

### Desafio 1.2: Estruturar uma função para limpar os dados, retornando a tabela "populacao" e a tabela unida

In [ ]:
def CleasingPopulation(tabela,tabela_de_index):
  tabela.rename(columns={'Posição':'posicao', 'Unidade federativa':'UF', 'População':'populacao', '% da pop. total':'%_pop_total',
       'País comparável':'pais_comparavel'}, inplace=True)
  #alterando os tipos de cada coluna
  tabela['populacao'] = tabela['populacao'].str.replace(" ","").astype('int')
  tabela['%_pop_total'] = tabela['%_pop_total'].str.replace("%","").str.replace(",",".").astype('float')
  
  #selecionar apenas as colunas de interesse, mudando o index para UF
  tabela = tabela[['UF','populacao']].set_index('UF')
  
  #Retirar espaços antes e depois do índice, caso tenha
  tabela.index = tabela.index.str.strip()

  #Limpar casos com nome do estado duplicados

  for estado in tabela_de_index.index:
    tabela.index = tabela.index.str.replace(f'{estado} {estado}', estado)

  gastos_e_populacao_recente = tabela.join(tabela_de_index)

  return gastos_e_populacao_recente

In [ ]:
dados_populacao_io = StringIO(dados_populacao)
populacao = pd.read_csv(dados_populacao_io, sep='\t')

CleasingPopulation(populacao,gastos_mes_mais_recente)

                     populacao  2020/Jul
UF
São Paulo             46289333    282.71
Minas Gerais          21292666    120.47
Rio de Janeiro        17366189     71.54
Bahia                 14930634     58.90
Paraná                11516840     80.32
Rio Grande do Sul     11422973     78.93
Pernambuco             9616621     62.33
Ceará                  9187103     30.81
Pará                   8690745     27.62
Santa Catarina         7252502     51.76
Maranhão               7114598     24.37
Goiás                  7113540     33.50
Amazonas               4207714     13.36
Espírito Santo         4064052     27.46
Paraíba                4039277     15.49
Rio Grande do Norte    3534165     19.59
Mato Grosso            3526220     13.08
Alagoas                3351543     13.09
Piauí                  3281480     18.02
Distrito Federal       3055149     22.23
Mato Grosso do Sul     2809394     12.51
Sergipe                2318822      3.31
Rondônia               1796460      7.41
Tocantins              1590248      4.49
Acre                    894470      1.16
Amapá                   861773      2.16
Roraima                 631181      2.74

### ----